.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    max-height: 320px;
    height: fit-content;
    padding: 0.75rem 1rem;
    position: relative;
    width: 100%;
    max-width: 300px;
}
.card-button {
    margin: 0 auto;
}
.card-content {
    background-color: var(--light);
    border-radius: 8px;
    margin-bottom: 0.75rem;
    padding: 8px;
    text-align: center;
}
.card-description {
    font-family: var(--font-family);
    font-size: 14px;
    height: 130px;
    overflow-y: auto;
    width: 100%;
}
.card-description::-webkit-scrollbar {
    display: none;
}
.card-header {
    margin-bottom: 0.5rem;
    text-align: center;
}
.card-footer {
    position: relative;
}
.card-subtitle {
    color: var(--blue);
}