.comment-wrapper {
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}
.comment-buttons {
    margin-top: 4px;
}
.comment-button {
    background-color: white;
    border-radius: 3px;
    color: var(--dark);
    font-size: 13px;
    font-weight: 500;
    padding: 6px 8px;
}
.comment-button:disabled {
    cursor: text;
    opacity: 0.8;
}
.comment-card {
    background-color: rgba(230, 230, 230, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 1rem;
}
.comment-content {
    position: relative;
    width: 100%;
    max-width: 100%;
}
.comment-username {
    line-height: 1rem;
    margin-bottom: 4px;
}
.comment-text {
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}
.comment-form {
    background-color: rgba(230, 230, 230, 0.4);
    border-radius: 6px;
    padding: 8px 12px;
    position: relative;
}
.comment-textarea {
    background-color: transparent;
    border-bottom: 1px solid var(--dark);
    border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 15px;
    height: 28px;
    min-height: 28px;
    width: 100%;
    transition: none;
}
.comment-textarea:focus {
    border-bottom: 2px solid var(--dark);
}