.form {
    background-color: white;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    padding: 2rem;
    max-width: 380px;
    width: 100%;
}
.form-author {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
}
.form-description {
    font-size: 14px;
    margin: 8px 0 0;
}
.form-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
}
.form-heading {
    margin-bottom: 1rem;
}
.form-inputs {
    flex: 50%;
    max-width: 380px;
}
.form-info {
    flex: 50%;
    line-height: 20px;
    max-width: 380px;
}
.form-title {
    font-size: 28px;
}
.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    width: 100%;
}
.form-field.invalid {
    padding-top: 1rem;
}
.form-field.valid > .bxc {
    opacity: 1;
}
.form-field.invalid > .bxw {
    opacity: 1;
}
.form-field.valid > .bxp {
    right: 1.5rem;
}
.form-field.invalid > .tooltip-box {
    opacity: 1;
}
.form-field.invalid > .bxp {
    right: 1.5rem;
}
.form-input {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: 2px solid #ccc;
    outline: none;
    position: relative;
    height: 46px;
    font-size: 17px;
    font-weight: 500;
    padding: 0 2rem 0 2.5rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    width: 100%;
}
.form-input::placeholder {
    color: #ccc;
}
.form-input:is(:focus, :valid) {
    border-bottom: 2px solid var(--blue);
}
.form-input:is(:focus, :valid) ~ .bxd {
    color: var(--blue);
}
.form-input:is(:focus, :valid) ~ .bxp {
    color: var(--blue);
}
.form-text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.25rem;
    position: relative;
    text-align: center;
}
.form-textarea {
    height: auto;
    overflow-y: auto;
    padding-top: 24px;
}
.form-textarea::placeholder {
    font-size: 17px;
}
.form-textarea::-webkit-scrollbar {
    display: none;
}
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: var(--min-height);
    height: fit-content;
    padding: 2rem 0;
    width: 100%;
}
.form-submit {
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 0;
    width: 100%;
}
.form-submit:disabled {
    opacity: 0.6;
}