@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --dark: #212529;
    --light: #f8f9fa;
    --blue: #657db8;
    --nav-height: 70px;
    --font-family: "Poppins", sans-serif;
    --min-height: calc(100vh - 70px);
    --transition: all 0.3s ease;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

li {
    list-style: none;
}

textarea {
    border: none;
    font-family: var(--font-family);
    resize: none;
    scroll-behavior: smooth;
    overflow: hidden;
    outline: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--light);
    color: #212529;
}

.bx {
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    transition: all 0.3s ease;
}

.bxf {
    color: #ccc;
    left: 0;
}

.bx-vs {
    color: lightgreen;
    opacity: 0;
    right: 0;
}

.bx-vw {
    color: red;
    opacity: 0;
    right: 0;
}

.bx-cu {
    font-size: 36px;
    position: relative;
    line-height: 38px;
}

.bxn {
    position: relative;
    font-size: 3rem;
}

.bxp {
    display: block;
    color: #ccc;
    cursor: pointer;
    pointer-events: auto;
    padding: 4px;
    right: 0;
}

.bxi {
    color: white;
    font-size: 28px;
    position: relative;
}

.bx-error-circle {
    align-self: center;
    font-size: 24px;
    position: relative;
}

.bxs-grid-alt {
    color: var(--dark) !important;
    position: relative;
}

.container {
    display: flex;
    padding: 0 1rem;
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.box {
    box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: fit-content;
    height: 300px;
    padding: 1rem;
    position: relative;
    width: 300px;
}

.box-button {
    background-color: #657db8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 8px 0;
    outline: none;
    width: 100%;
}

.box-button:hover {
    transform: scale(1.015);
}

.box-header {
    margin: 0 4px;
}

.box-field {
    background-color: rgba(230, 230, 230, 0.6);
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0 12px;
    width: 100%;
}

.box-textarea {
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 14px;
    height: 130px;
    overflow-y: auto;
    margin: 4px 0 0;
    width: 100%;
}

.comment-wrapper {
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.comment-buttons {
    margin-top: 4px;
}

.comment-button {
    background-color: white;
    border-radius: 3px;
    color: var(--dark);
    font-size: 13px;
    font-weight: 500;
    padding: 6px 8px;
}

.comment-button:disabled {
    cursor: text;
    opacity: 0.8;
}

.comment-card {
    background-color: rgba(230, 230, 230, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 1rem;
}

.comment-content {
    position: relative;
}

.comment-username {
    line-height: 1rem;
    margin-bottom: 4px;
}

.comment-text {
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.comment-form {
    background-color: rgba(230, 230, 230, 0.4);
    border-radius: 6px;
    padding: 8px 12px;
    position: relative;
}

.comment-textarea {
    background-color: transparent;
    border-bottom: 1px solid var(--dark);
    border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 15px;
    height: 28px;
    min-height: 28px;
    width: 100%;
    transition: none;
}

.comment-textarea:focus {
    border-bottom: 2px solid var(--dark);
}

.disableScroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

.error-box {
    background-color: #FF6666;
    border-radius: 4px;
    display: flex;
    gap: 1rem;
    margin: 1rem 0 0;
    padding: 8px 0.75rem;
    position: relative;
    width: 100%;
}

.error-message {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.game-button {
    margin: 1rem 0 !important;
}

.games-wrapper {
    display: flex;
    align-items: center;
    min-height: var(--min-height);
    height: fit-content;
    width: 100%;
    padding: 2rem 0;
    position: relative;
}

.games-flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 auto;
}

.game-container {
    padding: 1rem 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.game {
    margin: 1rem 0;
    position: relative;
    width: 100%;
    height: 80vh;
}

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.form {
    background-color: white;
    box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 2rem;
    min-width: 360px;
    width: fit-content;
}

.form-author {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
}

.form-description {
    font-size: 14px;
    margin: 8px 0 0;
}

.form-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
}

.form-inputs {
    flex: 50%;
    max-width: 380px;
}

.form-info {
    flex: 50%;
    line-height: 20px;
    max-width: 380px;
}

.form-title {
    font-size: 28px;
}

.form-field {
    display: flex;
    align-items: center;
    margin: 1rem 0 1.25rem 0;
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    width: 100%;
}

.form-field.invalid {
    padding-top: 1rem;
}

.form-field.valid > .bx-check-circle {
    opacity: 1 !important;
}

.form-field.invalid > .bx-x-circle {
    opacity: 1 !important;
}

.form-field.valid > .bxp {
    right: 1.5rem;
}

.form-field.invalid > .tooltip-box {
    opacity: 1;
}

.form-field.invalid > .bxp {
    right: 1.5rem;
}

.form-input {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: 2px solid #ccc;
    outline: none;
    position: relative;
    height: 46px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 2rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    width: 100%;
}

.form-input::placeholder {
    color: #ccc;
}

.form-input:is(:focus, :valid) {
    border-bottom: 2px solid #043248;
}

.form-input:is(:focus, :valid) ~ .bxf {
    color: #043248;
}

.form-input:is(:focus, :valid) ~ .bxp{
    color: #043248;
}

.form-text {
    font-size: 15px;
    margin: 1rem 0;
    position: relative;
    text-align: center;
}

.form-textarea {
    padding-top: 12px;
}

.form-textarea::placeholder {
    font-size: 15px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: var(--min-height);
    height: fit-content;
    padding: 2rem 0;
    width: 100%;
}

.form-submit {
    background-color: #043248;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 0;
    width: 100%;
}

.form-submit:disabled {
    opacity: 0.6;
}

.link {
    color: #043248;
    font-weight: 500;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    flex-direction: row;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1rem;
    position: relative;
    width: 100vw;
}

.nav-authentication {
    background-color: #657db8;
    border-radius: 2rem;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
}

.nav-title {
    color: var(--dark);
    font-size: 24px;
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.nav-link {
    color: var(--dark);
    display: block;
    font-size: 17px;
    font-weight: 500;
    transition: 200ms;
}

.nav-link:hover {
    color: var(--blue);
}

.nav-button {
    background-color: transparent;
    border: none;
    display: none;
    padding: 0;
}

.notification-card {
    animation: fadeIn 1s linear;
    background-color: rgba(230, 230, 230, 0.3);
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    text-align: center;
}

.notification-button {
    background-color: #657db8;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    padding: 8px 2rem;
}

.toast-box {
    animation: slideIn 3s linear;
    background-color: var(--blue);
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    top: 5rem;
    width: 100%;
    max-width: 300px;
    z-index: 10;
}

.toast-message {
    color: white;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 2px;
    position: relative;
}

.tooltip-box {
    background-color: #FF6666;
    border-radius: 3px;
    opacity: 0;
    padding: 2px 4px;
    position: absolute;
    top: 0;
    transition: var(--transition);
    width: fit-content;
}

.tooltip-box::before {
    background-color: #FF6666;
    content: '';
    height: 8px;
    position: absolute;
    left: 2rem;
    bottom: -4px;
    transform: rotate(45deg);
    width: 8px;
}

.tooltip-message {
    font-size: 12px;
    font-weight: 500;
}

.footer {
    background-color: var(--dark);
    padding: 0 1rem;
    position: relative;
    width: 100%;
    z-index: 0;
}

.footer-container {
    display: flex;
    align-items: center;
    height: 85px;
    margin: 0 auto;
    max-width: 1024px;
}

.footer-img {
    width: 100px;
}

.wrapper {
    padding: 70px 0 0;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 760px) {
    .form-content {
        flex-direction: column;
        gap: 8px;
        max-width: 316px;
    }

    .form-inputs {
        width: 100%;
    }

    .form-info {
        text-align: justify;
    }
}

@media only screen and (max-width: 580px) {
    .nav-authentication {
        padding: 6px 12px !important;
    }

    .nav-list {
        align-items: flex-start;
        background-color: var(--light);
        box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
        position: absolute;
        left: 5%;
        top: -250%;
        width: 90%;
        transition: var(--transition);
    }

    .nav-list.show {
        top: calc(var(--nav-height) + 1rem);
    }

    .nav-link {
        width: 100%;
    }

    .nav-button {
        position: relative;
        display: block;
        line-height: 0;
        z-index: 100;
    }

    .bxs-grid-alt {
        font-size: 24px;
        padding: 2px;
    }

    .games-wrapper {
        gap: 2rem;
    }
}

@media only screen and (max-width: 420px) {
    .form {
        box-shadow: none;
        padding: 0 1rem;
    }
}

@keyframes slideIn {
    0% {
        opacity: 1;
        transform: translateY(-10px);
    }
    10% {
        transform: translateY(0);
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}